<!DOCTYPE html>

<html>
   <head>
      <title>Time Request Service</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
     <header>TimeStamp Finder</header>
     <main>
       <section>
         <a href="/api/2021-12-07">View the stamp result here by date for 2021-12-07</a> <br>
         <a href="/api/1629846066275">View the stamp result here with milliseconds 1629846066275</a>
         <p>The result remain a JSON OBJECT</p>
         <code>{"unix":1629846066275,"utc":"Tue Aug 24 2021 23:01:06 GMT+0000 (Greenwich Mean Time)"}</code>
       </section>
     </main>
  </body>
</html>
